<!DOCTYPE html>
<html>
<head>
  <title>Monitoring Batch</title> 
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/jquery-ui.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css"/>
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <style>
  .ui-progressbar {
    position: relative;
  }
  .progress-label {
    position: absolute;
    left: 50%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
  }
  </style>
  
  
    <script>
  $( function() {
    $("#columncategory").change(function(e){
    		if($(this).val()>0)
    	 	$(location). attr('href', '/batch/column?catid='+$(this).val());
    })
  } );
  </script>
  
</head>
<body>
 <h1>Column</h1> 
  <a th:href="@{/batch/monitor}">back</a> |   <a th:href="@{/batch/column?addcategory=1}">Add Category</a>
  <br/>
  <div th:if="${addcategory==1}">
 	<form method="POST" action="">
 	Add Category : <input type="text" name="categoryname" value=""/>
 	<input type="hidden" name="submitaddcategory" value="1"/>
 	<input type="submit" name="submit" value="submit"/>
 	</form>
  </div>
  <table width="100%" border="1">
 	<tr valign="top">
 	<td width="20%">Category</td>
 	<td width="40%">
 	<select id="columncategory">
 		 <option value="0" selected>Select Product Category</option>
 		 	 <option th:each="p : ${listColumnGroup}" th:value="${p.cgid}" th:text="${p.group_name}"  th:selected="${p.cgid==catid}"></option>
 	</select>
 	</td>
 	<td width="40%">
 				<a th:href="@{/batch/column?catid={catid}&action=add(catid=${catid})}">Add</a>
 		
 			
 	</td>
 	</tr>
 	<tr valign="top">
 	<td colspan="2" align="right">
 	<form method="POST" action="">
 	<table border="1">
 				<tr><td>PICK</td>
 				<td>VARIABLE NAME</td><td>COLUMN NAME</td><td>Action</td>
 						<tr th:each="p : ${columns}">
 						<td>
 						<input type="checkbox" th:name="idChecked" th:value="${p.cid}" th:checked="${p.flag_active==1}" />
 						</td>
  	 	<td th:text="${p.variable_name}"></td>
  	 	<td th:text="${p.column_name}"></td>
  		 
  		  <td> <a th:href="@{/batch/column?catid={catid}&columnid={columnid}&action=edit(catid=${catid},columnid=${p.cid})}">Edit</a>
  		  |
  		  <a th:href="@{/batch/column?catid={catid}&columnid={columnid}&action=del(catid=${catid},columnid=${p.cid})}">Delete</a>
  		  </td>
  	</tr>
 				</tr>
 			</table>
 			<br/>
 			<input type="hidden" name="updatecolumn" value="1"/>
 			<input type="submit" name="submit" value="update"/>
 			</form>
 	</td>
 	<td>
 	<div th:if="${actiononecolumn != ''}">
 	<form th:object="${onecolum}" method="POST" action="">
 	<table border=1 width="100%">
 		<tr valign="top"><td colspan="2" align="center" th:text="${actiononecolumn}">Add</td></tr>
 		
 		<tr valign="top"><td>Variable Name </td><td ><input type="text" th:field="*{variable_name}"/></td></tr>
 			<tr valign="top"><td>Column Name </td><td ><input type="text" th:field="*{column_name}"/></td></tr>
 			<tr valign="top"><td>Query</td><td ><textarea th:field = "*{query}" cols="100" rows="20" /></td></tr>
 	
 	</table>
 	
 	 <div th:if="${actiononecolumn == 'Edit'}" >
 	 	<input type="hidden" name="updateaction" value="1"/>
 	 	<input type="hidden" name="columnid" th:field="*{cid}"/>
 	 </div>
 	 
 	 	
 	 <div th:if="${actiononecolumn == 'Add'}" >
 	 	<input type="hidden" name="updateaction" value="2"/>
 	 </div>
 	
 	<input type="hidden" name="catid" th:value="${catid}"/>
 	<input type="submit" name="submit" value="submit"/>
 	 </form>
 	</td>
 	
 	</tr>
 	</table>
 		
  </div>
 
</body>
</html>